
.containerBackgroundVending {
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.6509803922);
  border-radius: 0.5em;
  padding: 3em 10em 15em 3em;
  border: solid 5px;
  width: max-content;
  margin: 2em auto;
  position: relative;
  //&::after {
  //  content: '';
  //  position: absolute;
  //  height: 70px;
  //  width: 92%;
  //  border: solid 4px;
  //  bottom: -80px;
  //  left: 50%;
  //  transform: translateX(-50%);
  //}
  //&::before{
  //  content: '';
  //  position: absolute;
  //  height: 70px;
  //  width: 92%;
  //  border: solid 4px red;
  //  bottom: 80px;
  //  left: 50%;
  //  transform: translateX(-50%);
  //}
}

.vendingGrid{
  @media screen and (max-width: 780px) {
    transform: scale($scaleFactor780px);
    position: relative;
    top: calc((1 - 0.8) * 100%);
  }
  background-color: #ffffffa6;
  border-radius: 0.5em;
  padding: 1em;
  border: solid;
  width: max-content;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  row-gap: 0.2em;
  & ul.plateau {
    display: grid;
    justify-items: center;
    vertical-align: bottom;
    column-gap: 0.2em;
    & li.spiral {
      position: relative;
      width: $vendingLocationWidth;
      height: $vendingLocationHeight;
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center;
      text-align: center;
      cursor: pointer;

      &::after{
        content: "";
        position: absolute;
        width: $spiralWidth;
        height: $spiralHeight;
        bottom: 10px;
        right: calc(($vendingLocationWidth - ($spiralWidth + ($spiralSize * 2))) / 2);
        border-radius: 15px;
        border: solid $spiralSize;
      }

      & .locationIdentifier{
        position: absolute;
        width: 100%;
        padding: 0.1em 0;
        bottom: 0;
        background-color: black;
        color: white;
        text-align: center;
        z-index: 2;
      }
    }
  }
}